/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/

html {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
} 

body {
	display: flex;
	width: 100%;
	flex-direction: column;
	min-height: 100%;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
	background-color: #FFFEF8;
}

.edition-mode {
	display: flex;
	margin: 0;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 59px;
	background-color: black;
	gap: 10px;
}

#edition-bar .fa-pen-to-square {
	color: white;
	font-size: 16px;
	align-items: center;
	justify-content: center;
}

#edit-project .icon-edit-project {
	color: black;
	font-size: 16px;
	align-items: center;
	justify-content: center;
}

.edition-mode h3 {
	color: white;
	font-family: 'Work Sans';
	font-size: 16px;
	font-weight: 400;
	line-height: 100%;
	text-align: center;
}

header {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	margin-top: 50px;
	margin-bottom: 50px;
}

main {
	flex: 1;
}

section {
	margin-top: 50px;
	margin-bottom: 100px;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 5%;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	gap: 25px;
}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

a {
	color: inherit;
	text-decoration: none;
}

a:visited {
	color: inherit;
	text-decoration: none;
}

.login-page {
	height: fit-content;
}

#login {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 20px;
}

.login-form {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.login-form input {
	width: 379px;
	height: 51px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	margin: 5px;
}

.login-form label {
	font-family: Work Sans;
	font-weight: 500;
	font-size: 14px;
	margin-left: 5px;
	margin-top: 30px;
}

.login-form button {
	width: 179px;
	height: 36px;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 14px;
	color: white;
	background-color: #1D6154;
	margin: 30px 120px 0 120px;
	border-radius: 60px;
}

.fpassword {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: underline;
	font-family: 'Work Sans';
	font-weight: 500;
	font-size: 14px;
}

nav li img {
	width: 20px;
	height: 20px;
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 70px;
}

#introduction figure {
	width: 474px;
	height: 355px;
}

#introduction img {
	display: block;
	margin: auto;
	width: 474px;
	height: 355px;	
}

#introduction article {
	width: 404px
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 1.5em;
}

#portfolio {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 50px;
	margin-bottom: 50px;
}

.portfolio-header {
	display: flex;
	flex-direction: row; 
	align-items: center; 
	justify-content: space-between;
	width: 300px;
	margin-left: 90px;
}

#portfolio h2 {
	width: 200px;
	height: 36px;
	text-align: center;
	justify-content: center;
}

#edit-project {
	width: 84px;
	height: 18px;
	background-color: #FFFEF8;
}

#edit-project img {
	filter: brightness(0%) saturate(100%) invert(0%);
}

#modal-button {
	background-color: #FFFEF8;
	border: none;
	cursor: pointer;
	padding: 0;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal-window {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 590px;
  height: 648px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.modal-window h2 {
  margin: 20px 0 20px 0;
  font-family: 'Work Sans';
  font-weight: 400;
  font-size: 26px;
  color: black;
  text-align: center;
  justify-content: center;
}

.closer-modal {
  position: absolute;
  top: 30px;
  right: 30px;
  height: 24px;
  color: black;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  z-index: 3;
}

.return-modal {
  position: absolute;
  top: 30px;
  left: 30px;
  height: 24px;
  color: black;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  z-index: 3;
}

.modal-gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  width: 425px;
  padding-top: 25px;
  padding-bottom: 55px;
  border-bottom: solid 1px #B3B3B3;
}

.modal-gallery figure {
  position: relative;
  width: 77px;
  height: 102px;
  margin: 0 0 20px 0;
}

.modal-image {
	width: 77px;
	height: 102px;
}

.trash-figure {
	width: 17px;
	height: 17px;
	background-color: black;
	position: absolute;
	left: 55px;
	bottom: 80px;
	cursor: pointer;
	z-index: 2;
}

.fa-trash-can {
	color: white;
	font-size: 11px;
	position: absolute;
	top: 3px;
	left: 3.5px;
}

.pictures-button {
	width: 237px;
	height: 36px;
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
  	border: 1px solid #1D6154;
  	border-radius: 60px;
  	cursor: pointer;
  	padding: 0;
	margin: 35px 0 25px 0;
}

.add-pictures-modal {
  	background-color: white;
  	padding: 20px;
 	border-radius: 8px;
  	width: 630px;
  	height: 670px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	position: relative;
  	box-sizing: border-box;
}

.add-pictures-header {
	width: 420px;
	height: 169px;
	margin-bottom: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #E8F1F6;
}

i.fa-regular.fa-image {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 68px;
	height: 59px;
	color: #B9C5CC;
	font-size: 68px;
}

input[type="file"] {
	display: none;
}

.add-pictures-label {
	width: 173px;
	height: 36px;
	font-family: 'Syne';
	font-weight: 700;
	color: #306685;
	background-color: #CBD6DC;
	border: 1px solid #CBD6DC;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 5px;
}

.imgCaracs {
	width: 94px;
	height: 12px;
	font-family: 'Work Sans';
	font-weight: 400;
	font-size: 10px;
	color: #444444;
}

#addPicturesForm{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	border-bottom: solid 1px #B3B3B3;
	gap: 5px;
}

.validationPicturesButton {
	Margin-top: 30px;
	width: 237px;
	height: 36px;
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #A7A7A7;
  	border: 1px solid #A7A7A7;
  	border-radius: 60px;
  	padding: 0;
}

.add-pictures-modal h2 {
  margin: 20px 0 20px 0;
  font-family: 'Work Sans';
  font-weight: 800;
  font-weight: 800;
  font-size: 26px;
  color: black;
  text-align: center;
  justify-content: center;
}

#titlePicture {
	width: 420px;
	height: 51px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	border: none;
	margin-bottom: 40px;
}

.add-pictures-modal select {
	width: 420px;
	height: 51px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	border: none;
	margin-bottom: 40px;
}

.filter-container {
	list-style: none;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 585px;
	height: 38px;
	gap: 10px;
	margin: 60px 0 60px 0;
	padding: 0;
}

.filter-button {
	background-color: #FFFEF8;
	border: 1px solid #1D6154;
	color: #1D6154;
	border-radius: 60px;
	display: inline-block;
	white-space: nowrap;
	font-family: Syne;
	font-weight: 700;
	font-size: 16px;
	padding: 10px 18px;
	cursor: pointer;
}

.filter-button:hover {
	background-color: #1D6154;
	color: #FFFEF8;
	transition: 0.3s;
}

.filter-button-selected {
	background-color: #1D6154;
	color:#FFFEF8;
	border: 1px solid #1D6154;
	border-radius: 60px;
	display: inline-block;
	white-space: nowrap;
	font-family: Syne;
	font-weight: 700;
	font-size: 16px;
	padding: 10px 18px;
	cursor: pointer;
}

.gallery {
	width: 100%;
	max-width: 960px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
}

.gallery figure {
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.gallery img {
	width: 100%;
	justify-content: center;
	align-items: center;
}

.hidden {
	display: none;
}

#contact {
	width: 390px;
	margin: auto;

}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

section form button:hover {
	cursor: pointer;
}

#contact input{
	height: 51px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	height: 36px;
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer {
	background-color: white;
	width: 100%;
	padding-right: 500px;
	margin-top: auto;
}

footer nav ul {
	display: flex;
	width: 90%;
	justify-content: flex-end;
	padding: 2em 0 2em 0;
}

footer nav li {
	height: 16px;
	font-family: 'work sans';
	font-size: 14px;
	line-height: 100%;
}